---
title: "A proposito di.." 
layout: "about" 
description: "Di che si tratta?" 
aliases: ["about-us"] 
author: "Michela" 
output: html_document
---



<p><img src="/about/index.it_files/figure-html/logo-1.png" width="672" style="display: block; margin: auto;" /></p>
<p>Questa è una piattaforma dedicata alla divulgazione di curiosità di ecologia e ambiente. Ci auguriamo di ispirare i lettori a conoscere meglio il meraviglioso mondo naturale che ci circonda e ad agire per un presente e futuro sostenibile!</p>
<p>Nella sezione <strong>curiosità</strong>, raccontiamo anedotti sulle meraviglie della natura. Nella sezione <strong>scienza per tutti</strong>, presentiamo scoperte scientifiche. Nella sezione <strong>sostenibilità</strong>, forniamo informazioni utili su come ridurre il nostro impatto sul mondo naturale. Nella sezione <strong>schizzi</strong>, collezioniamo i nostri disegni di creature che amiamo.</p>
<div id="chi-siamo" class="section level1">
<h1>Chi siamo?</h1>
<div id="michela-busana" class="section level2">
<h2>Michela Busana</h2>
<p><img src="/about/index.it_files/figure-html/miche-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="sara-raj-pant" class="section level2">
<h2>Sara Raj Pant</h2>
<p><img src="/about/index.it_files/figure-html/sara-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
</div>
