---
title: "About" 
layout: "about" 
description: "What is this all about?" 
aliases: ["about-us"] 
author: "Michela" 
output: html_document
---



<p><img src="/about/index_files/figure-html/logo-1.png" width="672" style="display: block; margin: auto;" /></p>
<p>This is a platform dedicated to the spread of fun facts about ecology and the environment. We hope to inspire readers to know more about the wonderful natural world around us and take actions towards a sustainable present and future!</p>
<p>In the section <strong>curiosity</strong>, we narrate anecdotes about the wonders of nature. In the section <strong>science for all</strong>, we present scientific discoveries. In the section <strong>sustainability</strong>, we provide information on how to lower our impact on the natural world. In the section <strong>doodles</strong>, we collect our sketches and drawings of creatures we love.</p>
<div id="who-are-we" class="section level1">
<h1>Who are we?</h1>
<div id="michela-busana" class="section level2">
<h2>Michela Busana</h2>
<p><img src="/about/index_files/figure-html/miche-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="sara-raj-pant" class="section level2">
<h2>Sara Raj Pant</h2>
<p><img src="/about/index_files/figure-html/sara-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
</div>
